* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: #000;
}

.container {
  width: 100%;
  max-width: 1180px;
  margin: 0 auto;
  padding: 0 20px;
}

ul {
  list-style: none;
}

a {
  display: inline-block;
  text-decoration: none;
  color: black;
}

img {
  display: inline-block;
}

header {
  margin-top: 0px;
  font-family: "Rubik", serif;
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: white;
  margin-bottom: 50px;
  position: sticky;
  top: 0;
  z-index: 2;
  padding: 10px 0;
}

#header {
  background: #FFDB00;
  position: sticky;
  top: 0px;
  z-index: 2;
}

.logo-text {
  font-family: "Syne", serif;
  color: #000;
}

.nav-bar {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 40px;
  color: white;
}

.nav-bar li a {
  font-family: var(--font-family);
  font-weight: 800;
  font-size: 14px;
  text-transform: uppercase;
  color: #000;
  opacity: 0.5;
}

.nav-bar li a:active,
.nav-bar li a:focus {
  opacity: 1;
  font-weight: 900;
}

.nav-bar li a:hover {
  transform: scale(1.1);
}

.nav-bar li a.active {
  opacity: 1;
  font-weight: 900;
}

.header-btn {
  border: 2px solid #000;
  border-radius: 30px;
  padding: 15px 35px;
  background: #FFDB00;
}

.header-btn a {
  font-weight: 800;
  font-size: 14px;
  text-transform: uppercase;
  color: #000;
  opacity: 0.8;
}

.header-btn {
  cursor: pointer;
  position: relative;
  touch-action: manipulation;
  transition: box-shadow .2s, -ms-transform .1s, -webkit-transform .1s, transform .1s;
  width: auto;
}

.header-btn:focus-visible {
  box-shadow: #000 0 0 2px 2px, rgba(255, 234, 0, 0.8) 0 0 2px 4px;
  transition: box-shadow .2s;
}

.header-btn:active {
  background-color: transparent;
  border-color: #000;
  transform: scale(.96);
}

.header-btn:disabled {
  border-color: #DDDDDD;
  color: #DDDDDD;
  cursor: not-allowed;
  opacity: 1;
}

.absol {
  background-color: rgba(255, 255, 255, 0.2);
  filter: blur(200px);
  position: absolute;
  left: 20px;
}

#absol-home {
  left: 50%;
  filter: blur(150px);
  background-color: rgb(255, 255, 255, 0.2);
}

.hero {
  padding-bottom: 90px;
  margin-bottom: 90px;
  border-bottom: 1px solid #fff;
  margin-top: 73px;
}

.hero h1.home-hero {
  font-family: "Syne", serif;
  font-weight: 700;
  font-size: 72px;
  color: #FFDB00;
  text-align: center;
}

.hero h1 {
  font-family: "Syne", serif;
  font-weight: 700;
  font-size: 72px;
  color: #FFDB00;
}

.hero p {
  font-family: "Rubik", serif;
  font-weight: 500;
  font-size: 18px;
  color: #949494;
}

.section-1 {
  font-family: "Inter", serif;
}

.section-1 .sites {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
}

.section-1 .sites li a {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  gap: 10px;
}

.section-1 .sites li a .imgdiv {
  position: relative;
}

.section-1 .sites li a img {
  width: 350px;
  height: 350px;
  object-fit: cover;
  border-radius: 16px;
}

.section-1 .sites li a h2 {
  color: white;
}


.border {
  width: 40px;
  background: transparent;
  position: absolute;
  height: 20px;
  background-color: rgb(255, 255, 255, 0.2);
  box-shadow: 1px 1px 10px #FFDB00;
  border-radius: 10px;
  animation-name: yur;
  animation-direction: alternate;
  animation-duration: 15s;
  animation-iteration-count: infinite;
  animation-direction: normal;
  border: 1px solid #FFDB00;
  animation-timing-function: linear;
}

@keyframes yur {
  0% {
    top: -10px;
    left: -10px;
    transform: rotate(0deg);
  }

  /* 20% - O'ng burchak tomon harakat */
  24% {
    top: -10px;
    left: calc(100% - 20px);
    transform: rotate(0deg);
  }

  /* 25% - Tez burilish */
  25% {
    top: -10px;
    left: calc(100% - 20px);
    transform: rotate(90deg);
  }

  /* 45% - Pastga harakat */
  49% {
    top: calc(100% - 15px);
    left: calc(100% - 20px);
    transform: rotate(90deg);
  }

  50% {
    top: calc(100% - 15px);
    left: calc(100% - 20px);
    transform: rotate(180deg);
  }

  74% {
    top: calc(100% - 15px);
    left: -10px;
    transform: rotate(180deg);
  }

  75% {
    top: calc(100% - 15px);
    left: -20px;
    transform: rotate(270deg);
  }

  99% {
    top: -10px;
    left: -20px;
    transform: rotate(270deg);
  }

  100% {
    top: -10px;
    left: -20px;
    transform: rotate(360deg);
  }
}

.home-btn-1 {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 93px;

}

.home-btn-1 button {
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 0 32px 54px 0 rgba(3, 3, 3, 0.14);
  background: #FFDB00;
  border-radius: 32px;
  padding: 15px 35px;
  gap: 25px;
  border: none;

  font-weight: 700;
  font-size: 13px;
  letter-spacing: 0.12em;
  text-transform: uppercase;
  text-align: center;
  color: #000;
}

.home-btn-1 button .right {
  font-size: 22px;
}

.button-62 {
  background: linear-gradient(to bottom right, #EF4765, #FFDB00);
  border: 0;
  border-radius: 12px;
  color: #FFFFFF;
  cursor: pointer;
  display: inline-block;
  font-family: -apple-system, system-ui, "Segoe UI", Roboto, Helvetica, Arial, sans-serif;
  font-size: 16px;
  font-weight: 500;
  line-height: 2.5;
  outline: transparent;
  padding: 0 1rem;
  text-align: center;
  text-decoration: none;
  transition: box-shadow .2s ease-in-out;
  touch-action: manipulation;
  white-space: nowrap;
}

.button-62:not([disabled]):focus {
  box-shadow: 0 0 .25rem rgba(0, 0, 0, 0.5), -.125rem -.125rem 1rem rgba(239, 71, 101, 0.5), .125rem .125rem 1rem rgba(255, 154, 90, 0.5);
}

.button-62:not([disabled]):hover {
  box-shadow: 0 0 .25rem #ffdd0069, -.125rem -.125rem 1rem rgba(242, 255, 0, 0.5), .125rem .125rem 1rem rgba(210, 201, 30, 0.5);
}

.section-1 .text {
  display: flex;
  flex-direction: column;
  align-items: start;
  width: 57%;
}

.text h1 {
  font-family: "Syne", serif;
  font-weight: 700;
  font-size: 72px;
  color: #FFDB00;
}

.text p {
  font-family: "Rubik", serif;
  font-weight: 500;
  font-size: 18px;
  color: #949494;
  width: 90%  ;
}